/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 400px) {
    body{
        overflow-x: hidden;
    }
    img {
        max-width: 80%;
    }

    .cont {
        display: none;
    }

    .center-block-main {
        width: 100%;
        height: auto !important;
        margin-bottom: 25px;
    }

    .header-content {
        z-index: 9999;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
    .logo {
        z-index: 9999;
        height: auto !important;
        margin-left: 25px;
    }

    .burger-button {
        z-index: 9999;
        display: block;
        background-color: transparent;
        height: auto !important;
        border: none;
        margin-right: 25px;
    }

    .burger-photo {
        width: 35px;
        height: auto !important;
    }

    .menuhead {
        z-index: 9999;
        -webkit-transition: all 0.7s ease 0s;
        -o-transition: all 0.7s ease 0s;
        transition: all 0.7s ease 0s;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: fixed;
        background-color: #161D2F;
        width: 100%;
        height: 844px;
        top: 82.4px;
        right: -150%;
        gap: 20px;
    }

    .menuhead li {
        text-align: center;
    }

    .menuhead li a{
        font-size: 1.25em;
    }

    #join-now {
        display: none;
    }

    .inburger-button {
        text-align: center;
    }

    #inburger-button {
        display:inline;
    }
    
    .mobile-disabled {
        display: none;
    }

    .active {
        right: 0;
        top:82.4px;
    }

    .head-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .head-text p {
        font-size: 1.85em;
    }

    .head-text :nth-child(3) {
        width: 90%;
    }

    .play-but {
        left: 51.8%;
        z-index: 111;
    }



    .programs{
        width:100%;
        margin-top:40px;
    }
    .text{
        margin-bottom:0;
    }
    .text p{
        font-size: 2.2em;
        margin-bottom: 0;
    }



    .preparation{
        flex-direction: column;
        gap:0;
        margin-top:10px;
        margin-bottom: 40px;
    }
    .preparation-pic{
        display:flex;
        max-width:100%;
        justify-content: center;
    }
    .preparation-info{
        text-align: center;
    }
    .preparation-info h1{
        margin-top:20px;
    }
    .preparation h2{
        font-size:2em;
    }

    .prising-text{
        padding-top: 30px;
    }

    .benefits{
        margin-top:0;
    }
    .benefits-head{
        margin-top:40px;
        margin-left:10px;
        margin-right:10px;
    }
    .benefits-numbers{
        margin-bottom:30px;
        gap:0;
        margin-left:20px;
        margin-right:20px;
    }
    .divider{
        width:100%;
    }
    .number{
        width:100%;
    }
    .number h1{
        font-size:2em;
    }
    .number h2{
        font-size:0.9em;
    }
    .benefits-advantages{
        flex-direction: column;
        gap:0; margin-bottom:0;
    }
    .advantage{
        margin-left: 10px;
        margin-right: 5px;
    }



    .member-form{
        margin-top:0;
        margin-bottom:40px;
    }
    .member-bg{
        flex-direction: column;
        gap:0; align-items: center;
    }
    .bg-blue-2{
        width:80%;
        height:105%;
    }
    .member-text{
        margin-top:10px;
        width:75%;
        align-items: center;
        text-align: center;
    }
    .member-text h1{
        font-size:2em;
        margin-bottom:15px;
    }
    .member-body{
        flex-direction: column;
    }
    .member-email{
        width:100%;
    }
    .member-pic{
        display:flex; margin-top:40px;
        justify-content: center;
    }

    .border{
        width: auto;
        margin-top:70px;
    }



    .footer-main{
        flex-direction: column;
        margin-top:20px;
        margin-bottom: 30px;
    }
    .footer-links{
        margin-left:10px;
    }
    .footer-links h1{
        margin-bottom:10px;
    }
    .footer-links h2{
        display:none;
    }
    .h2{
        font-size: 0.9em;
    }
    .h3{
        font-size: 0.9em;
    }
    .footer-text{
        gap:10px;
        align-items: flex-start;
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer-text h1{
        margin-bottom:5px;
        font-size:1em;
    }
    #foot-text{
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    .footer-end{
        margin-bottom:10px;
        font-size: 0.8em;
    }


    
    .banner {
        display: none;
    }

    .visible-banner {
        display: flex;
        width:80%;
    }

    .banners {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .selectors{
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    .point {
        display: none;
    }

    .text{
        margin-bottom:44px;
    }

    .visible {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 425px;
    }
    
    .point-pic {
        max-width: 100%;
    }

    .point-link {
        justify-content: center;
    }

    .slider {
        width: 100%;
        margin-top: 20px;
        gap: 5px;
        margin-bottom:0;
    }

    .point h2 {
        width: 100%;
        text-wrap: nowrap;
    }

    .point p {
        font-size: 0.785em;
        width: 100%;
    }

    .arrow:hover {
        opacity: 0.5;
    }

    .round_swiper {
        display: inline-block;
    }
}