/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}

html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

:root {
	--font-family: "Poppins", sans-serif;
	--second-family: "Inter", sans-serif;
  }


body{
	max-width:100%;
    font-family: var(--font-family);
    font-size:1em; min-height:100%;
    color:#fff; text-align: left;
    text-decoration:none;
	overflow-x:hidden;
} 

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	/* коррекция положения элемента */
	transform: translate(-50%, -50%);
  }



.header-content{
	display:flex;
	justify-content:space-evenly;
	align-items: center;
}
header{
    background:#161D2F; overflow:hidden;
	width:100%;
}
    .center-block-main{
        margin:0 auto;
		margin-bottom:59px;
    }
    .logo{
        margin-top:20px; margin-bottom:20px;
    }
    .menuhead{
		display:flex;
		gap:40px;
    }
    .menuhead li{
        text-align:start; 
    }
    .menuhead li a{
        color:rgba(255, 255, 255, 0.8); text-decoration: none;
        font-size:0.875em; font-weight:300;
    }
	.menuhead li a:hover{
		color:#fff;
    }
	#inburger-button {
		display: none;
	}
	.burger-button {
		display: none;
	}
    .more{
		width:157px;
		height:53px;
		color:#fff;
		text-decoration:none;
		padding:13px 37px;
		border-radius:28px;
		border:2px solid rgba(255, 255, 255, 0);
		background: #3043A9;
    }
	.more:hover{
		background: #161D2F;
		border-color: #fff;
		color:#fff;
		transition:all 0.2s linear;
	}

	.head-text{
		font-family:var(--font-family);
	}	 
	.head-text h1{
		font-size:0.875em; font-weight:400;
		display:flex; margin-bottom:10px;
		justify-content: center;
		text-align: center;
	}
	.head-text p{
		display:flex;justify-content: center;
		font-size:3.875em;
		font-weight:600;
		margin-bottom:19px;
		text-align: center;
	}
	.head-text :nth-child(3){
		font-size:0.9375em;
		display:flex;justify-content: center;
		font-weight:300;
		text-align: center;
		margin-bottom:31px;
	}

	.head-buttons{
		display:flex;
		justify-content: center;
		gap:18px;
		margin-bottom: 42px;
	}
    #more_2{
		width:157px;
		height:53px;
		color:#fff;
		text-decoration:none;
		padding:13px 29px;
		border-radius:28px;
		border:2PX solid #fff;
		background: #161D2F;
    }
	#more_2:hover{
		background: #3043A9;
		border:2px solid rgba(255, 255, 255, 0);
		color:#fff;
		transition:all 0.2s linear;
	}

	.total-vid{
		position:relative;
	}
		.video{
			display:flex;
			justify-content: center;
			margin-bottom:50px;
		}
		.video-pic{
			border-radius:10px;
		}
		.play-but{
			position:absolute; top:50%; left:50%;
			transform: translate(-50%, -50%);
			z-index:9999;
			border:none;
			background:none;
			opacity:1;
		}
		.play-but:hover{
			opacity:0.6;
			transition:all 0.1s linear;
		}



.programs{
	color: #000;
	margin-top:92px;
	font-family:var(--font-family);
}
	.text h1{
		font-size:0.875em;font-weight:400;
		text-transform: uppercase;
		display:flex;
		justify-content:center;
		margin-bottom:16px;
	}
	.text p{
		font-size:2.5em;font-weight:600;
		text-transform: uppercase;
		display:flex;
		justify-content:center;
		text-align:center;
		margin-bottom:30px;
	}



.slider{
	display:flex; justify-content:center; gap:30px;
	align-items: center;
	margin-bottom:100px;
}
	.arrow{
		opacity:1;
		background: transparent;
		border: none;
		padding: 0;
	}
	.arrow:hover{
		opacity:0.6;
		transition:all 0.1s linear;
	}

	.point{
		max-width:24%;color:#000;
		font-family:var(--font-family);
		text-align: left;

	}
		.point-pic{
			border-radius:10px;
		}
		.point h2{
			font-size:1.875em; font-weight:500;
			margin-top:19px;
		}
		.point p{
			font-size:0.875em; font-weight:400;
			margin-bottom:10px;		
		}
		.point-text{
			font-size:0.875em; font-weight:300;
			margin-bottom:20px;	
		}
		.point-link{
			display:flex;
			align-items:center;
			opacity:1;
		}
		.point-link a{
			color:#3043A9; margin-right:10px;
			text-decoration:none;

		}
		.point-link:hover{
			opacity:0.7;
			transition:all 0.1s linear;
		}



.preparation{
	display:flex; justify-content:center; gap:60px;
	margin-top:100px; margin-bottom:100px;
}
	.preparation-pic{
		max-width:42%;
	}
	.preparation-info{
		display:flex;
		flex-direction:column;
		 color:#000;
		text-align:left; font-family:var(--font-family);
	}
	.preparation h1{
		font-size:0.875em; font-weight:400; 
		text-transform: uppercase;
		margin-bottom: 10px;
		margin-top:122px;
	}
	.preparation h2{
		font-size:2.5em; font-weight:600; 
		margin-bottom: 10px;
	}
	.preparation p{
		font-size:0.9375em; font-weight:300; 
		margin-bottom: 30px;		
	}
	.preparation-bold{
		font-weight:500;
	}
	#more-2-5{
		width:161px;
		height:57px;
		color:#fff;
		text-decoration:none;
		padding:13px 37px;
		border-radius:28px;
		background: #3043A9;
	}
	#more-2-5:hover{
		border-color:#161D2F;
		background: #161D2F;
		transition:all 0.2s linear;
	}



.prising-bg{
	position:relative;

}
.bg-blue{
	height:600px;
	width:100%;
	background:#09203F;
	position:absolute; top:0;
	z-index:-2;
}
.prising-text{
	text-align:center;
	display:flex; flex-direction:column;
	justify-content:center;
	padding-top:100px;
	font-family:var(--font-family);
}
.prising-text h1{
	font-size:0.875em; font-weight:400;
	text-transform:uppercase;
	margin-bottom: 10px;			
}
.prising-text h2{
	font-size:2.5em; font-weight:600;
	text-transform:uppercase;
	margin-bottom: 30px;			
}
	.banners{
		display:flex; justify-content:center; gap:30px;
		align-items: center;
		gap:30px;
		margin-bottom:100px;
	}
	.banner{
		display:flex; flex-direction: column;
		align-items:center;
		color:#000;
		font-family:var(--font-family);

		background:#fff;
		border-radius:35px;
		box-shadow: 0 16px 35px 0 rgba(112, 144, 176, 0.2);
		padding-bottom:45px;
	}
	.popular-pic{
		position:absolute; right:0;
	}
	.banner h1{
		font-size:1.875em; font-weight:600; 
		color:#161D2F; text-align:center;
		margin-bottom: 10px;	
		margin-top:30px;	
	}
	.banner-pic{
		max-width: 188px;
		border-radius:8px;
		margin-bottom:10px;

		margin-left:81px; margin-right:81px;
	}
	.banner h2{
		font-size:1.25em; font-weight:400; 
		color:#222222; text-align:center;	
		margin-bottom:10px;
	}
	.list{
		display:flex;
		flex-direction: column;
		gap:11px;

	}
	.prising-list{
		display:flex;
		gap:11px;
		align-items:center;
		
	}
	.text{
		margin-bottom:44px;
	}
	.text-bold{
		font-size:2em; font-weight:600; 			
		color:#161D2F;
	}
	.text-normal{
		font-size:1.25em; font-weight:300; 			
		color:#222222;			
	}
	#more_3{
		width:161px;
		height:57px;
		color:#fff;
		text-decoration:none;
		padding:13px 20px;
		border-radius:28px;
		background: #3043A9;
	}
	#more_3:hover{
		border-color: #161D2F;
		background: #161D2F;
		transition:all 0.2s linear;
	}
	#ban-1 .list{
		margin-bottom:124px;
	}
	#ban-2{
		position:relative;
	}
	#ban-2 .list{
		margin-bottom:87px;
	}	
	#ban-2 .popular{
		display:flex;
	
		justify-content: space-evenly;
	}	
	#ban-3 .list{
		margin-bottom:50px;
	}



.benefits{
	margin-top:100px;
	display:flex; flex-direction:column;
	justify-content: center;
}
	.benefits-head{
		margin-top:100px;
		display:flex; justify-content: center; gap:10px;
		align-items: flex-start;
		font-family: var(--font-family);
		color:#000; text-align: center;
		text-decoration:none;
	}
	.benefits-head-text h1{
		font-size:0.875em; text-transform:uppercase;
		font-weight:400; margin-bottom:10px;
	}
	.benefits-head-text h2{
		font-size:2.5em; font-weight:600;
		text-transform: capitalize;
		margin-bottom:30px;
	}

	.number{
		width:13.2%;
	}
	.benefits-numbers{
		display:flex; justify-content:center;
		gap:15px; align-items: center;
		font-family: var(--font-family);
		color:#000; text-align: center;
		text-decoration:none;
		margin-bottom:50px;
	}
	.divider{
		border: 1px solid #161d2f;
		width: 7%; height: 0px;
		transform: rotate(-90deg);
		opacity: 0.4;

	}
	.number h1{
		font-family: var(--second-family);		
		font-size:3em; font-weight:800;
	}
	.number h2{
		font-size:1.125em; font-weight:400;
		text-wrap:wrap;
	}

	.benefits-advantages{
		display:flex; flex-direction:row; gap:30px;
		justify-content:center; margin-bottom:70px;
	}
		.row{
			display:flex; flex-direction:column;
			justify-content:center;  gap:30px;
			margin-bottom: 30px;
		}
		.advantage{
			display:flex;  gap:30px;
			align-items: flex-start;
			font-family: var(--font-family);
			color:#000; text-align: left;
			text-decoration:none;
		}	
		.advantage-text h1{
			font-size:1.75em; font-weight:600;
			text-transform: capitalize;
			margin-bottom:5px;	color: #161d2f;	
		}
		.advantage-text h2{
			font-size:1em; font-weight:300;
			text-transform: capitalize;
			margin-bottom:5px;	color: #222;	
		}



.member-form{
		margin-top:100px; margin-bottom:100px;
}
	.member-bg{
		position:relative;
		display: flex; gap:152px;
		align-items: center; justify-content: center;
		align-items: flex-start;
	}
		.bg-blue-2{
			height:113%;
			width:68%;
			background:#161D2F;
			position:absolute;top:0px;
			z-index:-2; border-radius:20px;
		}
	.member-pic{
		margin-top:50px;
	}
	.member-text{
		display:flex; flex-direction:column;
		margin-top:105px; text-align:left;
		text-decoration:none;
		font-family: var(--font-family);	
		text-align: left;
	}
	.member-text h1{
		font-weight: 600;
		font-size:2.5em;
		text-transform: capitalize;
		margin-bottom:30px;
	}
	.member-body{
		display:flex; flex-direction: row; gap:70px;
		align-items: center; justify-content:flex-start;
	}
	#more-4{
		width:161px;
		height:57px;
		color:#fff;
		text-decoration:none;
		padding:16px 37px;
		border-radius:28px;
		background: #3043A9;
		border:2px solid rgba(255,255,255,0);
	}
	#more-4:hover{

		border-color: #fff;
		background: #161D2F;
		transition:all 0.2s linear;
	}
	.member-email{
		width:115%;
		box-sizing:border-box;
		color:#fff; font-size:1em;
		background: #161D2F;
		border:2px solid #fff;
		border-radius:34px;
		padding-top:17px; padding-bottom:17px;
		padding-left:24px; padding-right: 24px;
	}

.border{
	border:1px solid #E5E5E5;
	width: 100%; height: 0px;
}



.footer-main{
	display:flex; justify-content:center; gap:24px;
	margin-top:47px; margin-bottom: 42px;
	font-family: var(--font-family);
	color:#000; text-align: left;
	text-decoration:none;
}
	.footer-links h1{
		font-size:1.5em; font-weight:800;
		color: #161d2f; margin-bottom:5px; 
	}
	.footer-links h2{
		font-size:0.9375em; font-weight:300;
		text-transform: capitalize;
		color: #222; margin-bottom:10px;
	}
	.footer-pics{
		display:flex; justify-content: flex-start; gap:10px;
	}
	.footer-but{
		border:none;
		background:none;
		opacity:1;
	}
	.footer-but:hover{
		opacity:0.6;
		transition:all 0.1s linear;
	}
	.footer-text{
		display:flex; justify-content:center; gap:98px;
		flex-direction: row; 
	}
	.footer-links{
		display:flex; flex-direction:column;
	}
		.footer-text h1{
			font-size: 1.125em; font-weight:500;
			margin-bottom:20px; color: #161d2f;
		}
		.h2{
			font-size: 1em; font-weight:300;
			text-decoration:none;
			margin-bottom:10px;color: #222;
		}
		.h3{
			font-size: 1em; font-weight:300;
			text-decoration:none; opacity:1;
			margin-bottom:none;color: #222;
		}
		.h2:hover{
			opacity:0.6;
			transition:all 0.2s linear;
		}
		.h3:hover{
			opacity:0.6;
			transition:all 0.2s linear;
		}
	.footer-end{
		font-family: var(--font-family);
		text-align: center;
		font-weight: 400; font-size: 0.875em;
		color: #222; margin-bottom:20px;
	}
	
